{{#> layout title='My Heroes' user=user}}

{{#if messages.error}}
<div class="alert alert-danger " role="alert">
  {{messages.error}}
</div>
{{/if}}

  <main class="contact-section">
      
    <section class="blog-container my-0">
     
      <div class=" heroes-title text-center">
              <p class="">MY heroes </p>    
      </div>
       {{#if user}}
       <div class="d-flex">
       <div><a class="btn translate-middle-y btn-nav btn-add my-0" href="/heroes-add">Add Heroes</a></div>
       <div><a class="btn translate-middle-y btn-nav btn-add my-0" href="/type-add">Add Type</a></div>
       </div>
      {{/if }}


      <div id="blogList" class="blog-list ">     
        

          {{#each blogs }}

         <div id="${i}" class="blog-list-item shadow">
          <div class="blog-image-title gap-2">
            <div class="blog-image ">
              <a href="/heroes-detail/{{this.id}}" >
              <img src={{this.photo}} alt="blog-image" />
              </a>
            </div>
            <div>
              <p>
                <a href="/heroes-detail/{{this.id}}" class="blog-item-title">
                   {{this.name}}
                </a>
              </p>
              <div>
                {{!-- <p class="detail-blog-content"> Duration : {{getDuring this.sdate this.edate}}</p> --}}
                <p class="detail-blog-content"> Author   : {{this.user.username}}</p>
                {{!-- <p class="detail-blog-content">{{formatDataToWIB this.createdAt}}</p>    --}}
                          
              </div>
            </div>
          </div>
          <div class="gap-1">
            <p class="blog-text">
            {{!-- {{truncateText this.message}} --}}
            </p>
            <p class="relative-time">{{getRelativeTime this.createdAt}}</p>
          </div>
         
          <div class="blog-content">
            <div class="btn-group">  
              {{#if (equal ../user.id this.user_id)}}            
             <a href="/heroes-edit/{{this.id}} " class="col"><button class="btn-edit">Edit</button></a>                             
              <form action="/delete-heroes{{this.id}}?_method=delete" method="post" >
              <button id="mybutton-{{this.id}}"   class="btn-delete" hidden>Delete</button>                            
            
             </form>
             <button  onclick="return confirmDel({{this.id}})"  class="btn-delete">Delete</button>
              {{/if}}              
            </div>
              
            
          </div>
          </div>
          {{else}}
          <p>Belum ada yang di post</p> 
          {{/each}}



     
      </div>
    </section>

  </main>


{{/layout}}